<footer class="navbar navbar-fixed-bottom">
  <div class="container-fluid">
        <div class="row" align="center">
            <div class="col-xs-12 col-sm-4">
                <h5>Using TrimR</h5>
                <ul class="list-unstyled">
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h5>Legal </h5>
                <ul class="list-unstyled">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
            </div>
                
            
            <div class="rowBottom" align="center">
            <div class="col-xs-12 col-sm-12" >
                <!-- <div class="nav navbar-nav" style="padding: 40px 10px;"> -->
                    <a class="btn btn-social-icon btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-instagram" href="#"><i class="fa fa-instagram"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-xs-12">
                <!-- <p style="padding:10px;"></p> -->
                <p class="copyRight" align="center">© Copyright 2017 Chris Finney, Taylor Rowell, Ray Randle</p>
            </div>
    </div>
</footer>