<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>

            <a class="navbar-brand" href="/">TrimR</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="http://www.5z8.info/awesome-real-life-headshots_c5l9nk_56-DEPLOY-TROJAN-287.mw9----"> How it Works</a></li>

                <li><a data-toggle="modal" data-target="#contactModal"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Be a TrimR Stylist</a></li>
                <li><a href="/createAccount1">Sign Up</a></li>
                <li><a data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>
    </div>
</nav>

<div id="contactModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!--Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Us</h4>
            </div>

            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" form="subject">Name</label>
                        <input type="text" class="form-control input-sm" id="name" placeholder="Name" ng-model="subject">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" form="email">Email Address</label>
                        <input type="email" class="form-control input-sm" id="email" placeholder="Email" ng-model="email">
                    </div>
                    <br>
                    <textarea class="form-control input-md" id="messageBox" placeholder="Please include a brief message" ng-model="content"></textarea>
                    <br>

                    <button type="submit" class="btn btn-danger btn-sm" ng-click="getMessage()">Send </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Login modal -->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form>
                <input type="text" ng-model="email" placeholder="Username">
                <input type="password" ng-model="password" placeholder="Password">
                <button type="submit" class="btn btn-danger btn-lg" ng-click="login()">Login </button>
                 <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
            </form>

            <div class="login-help">
                <a href="#">Forgot Password</a>
            </div>
            
        </div>
    </div>
</div>
<!--Stylist contact button-->
        <!--Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Want to become a TrimR Stylist?</h4>
            </div>

            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" form="subject">Name</label>
                        <input type="text" class="form-control input-sm" id="name" placeholder="Name" ng-model="subject">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" form="email">Email Address</label>
                        <input type="email" class="form-control input-sm" id="email" placeholder="Email" ng-model="email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" form="subject">Phone Number </label>
                        <input type="text" class="form-control input-sm" id="phone" placeholder="Name" ng-model="subject">
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="sr-only" form="subject">Alabama Board of Cosmetology and Barbering Licence Number </label>
                        <input type="text" class="form-control input-sm" id="licenseNum" placeholder="License Number" ng-model="subject">
                    </div>
                    </br>
                    <br>
                    <textarea class="form-control input-md" id="messageBox" placeholder="Please include a brief message" ng-model="content"></textarea>
                    <br>

                    <button type="submit" class="btn btn-danger btn-sm" ng-click="getMessage()">Send </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                </form>

            </div>
        </div>
    </div>
</div>